<section class="bg_black pt30 pb30">
            <div class="container">

                <div class="box">

                    <div class="title_box">Best <span>Choice</span></div>

                    <div id="slide_ngopi" class="relative">
                        <a href="#" class="pull-left">
                            <span class="ratiobox ratio_16_9">
                                <i class="icon icon-play icon_inside"></i>
                                <span class="ratiobox_content lqd">
                                    <img src="images/img1.jpg" alt="">
                                </span>
                            </span>
                            <h3 class="title mt10">Masa Awal Kampanye Pilg  ub Jakarta, Elektabilitas 3 Paslon Berada di bawah 30%</h3>
                        </a>
                        <a href="#" class="pull-left">
                            <span class="ratiobox ratio_16_9">
                                <i class="icon icon-photo icon_inside"></i>
                                <span class="ratiobox_content lqd">
                                    <img src="images/img2.jpg" alt="">
                                </span>
                            </span>
                            <h3 class="title mt10">Kata Publik Jakarta Tentang Isu Terbaru Di Ibukota</h3>
                        </a>
                        <a href="#" class="pull-left">
                            <span class="ratiobox ratio_16_9">
                                <i class="icon icon-play icon_inside"></i>
                                <span class="ratiobox_content lqd">
                                    <img src="images/img3.jpg" alt="">
                                </span>
                            </span>
                            <h3 class="title mt10">Selain Risma Ini Kepala Daerah PDIP Yang Bisa Jadi Kuda Hitam Di Pilgub Jakarta</h3>
                        </a>
                        <a href="#" class="pull-left">
                            <span class="ratiobox ratio_16_9">
                                <i class="icon icon-photo icon_inside"></i>
                                <span class="ratiobox_content lqd">
                                    <img src="images/img1.jpg" alt="">
                                </span>
                            </span>
                            <h3 class="title mt10">Masa Awal Kampanye Pilgub Jakarta, Elektabilitas 3 Paslon Berada di bawah 30%</h3>
                        </a>
                        <a href="#" class="pull-left">
                            <span class="ratiobox ratio_16_9">
                                <i class="icon icon-photo icon_inside"></i>
                                <span class="ratiobox_content lqd">
                                    <img src="images/img2.jpg" alt="">
                                </span>
                            </span>
                            <h3 class="title mt10">Mungkin Alasan Ini Yang Bikin Ahok Masih Berharap Pada PDIP</h3>
                        </a>
                        <a href="#" class="pull-left">
                            <span class="ratiobox ratio_16_9">
                                <i class="icon icon-play icon_inside"></i>
                                <span class="ratiobox_content lqd">
                                    <img src="images/img3.jpg" alt="">
                                </span>
                            </span>
                            <h3 class="title mt10">Masa Awal Kampanye Pilgub Jakarta, Elektabilitas 3 Paslon Berada di bawah 30%</h3>
                        </a>
                    </div>

                </div>

            </div>
        </section>
