        <section class="bg_grey relative">
            <div class="container">

                <div class="box mb30">

                    <div class="title_box"><i class="icon icon-chart"></i> Trending Articles</div>

                    <div class="row col">
                      {% for obj in most_read %}

                        <article class="col-xsl-6 col-sm-4">
                            <a href="{{ obj.get_absolute_url }}">
                                <span class="ratiobox ratio_4_3 mb10">
                                    <span class="ratiobox_content lqd">
                                      {% if obj.image %}
                                        {% if 'http' in obj.image.url %}
                                          <img src="{{ obj.image }}?w=400" alt="{{ obj.title }}">
                                        {% else %}
                                          <img src="{{ obj.image.url }}" alt="{{ obj.title }}">
                                        {% endif %}
                                      {% endif %}
                                    </span>
                                </span>
                                <span class="date">{{ obj.updated|timesince }} ago</span>
                                <h3 class="title">{{ obj.title }}</h3>
                            </a>
                            <p>{{ obj.get_markdown|truncatechars_html:50 }}</p>
                        </article>

                        {% endfor %}
                    </div>

                </div>

            </div>
        </section>
