{% extends "base.html" %}
{% block content %}
{% include "slider.html" %}
{% include "mostread.html" %}
{% include "carousel.html" %}
<section id="content">
            <div class="container">

                <div class="l_content">

                    <div class="box">

                        <div class="title_box">BERITA <span>TERBARU</span></div>

                        <div class="list vertical middle">
                          {% for obj in object_list %}
                            <article>
                                <a href="{{ obj.get_absolute_url }}">
                                    <span class="ratiobox ratio_4_3 box_img">
                                        <span class="ratiobox_content lqd">
                                          {% if obj.image %}
                                            {% if 'http' in obj.image.url %}
                                              <img src="{{ obj.image }}?w=400" alt="{{ obj.title }}">
                                            {% else %}
                                              <img src="{{ obj.image.url }}" alt="{{ obj.title }}">
                                            {% endif %}
                                          {% endif %}
                                        </span>
                                    </span>
                                </a>
                                <span class="box_text">
                                    <span class="date">{{ obj.updated|timesince }} ago</span>
                                    <a href="{{ obj.get_absolute_url }}">
                                        <h2 class="title">{{ obj.title }}</h2>
                                    </a>
                                    <p class="post-detail-item">{{ obj.get_markdown|truncatechars_html:50 }}</p>
                                </span>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                          <form action="{% url "posts:post_indeks" %}">
                            <input type="submit" value='LOAD MORE' class='btn btn-default'>
                          </form>
                        </div>
                    </div>
                </div>
      <div class="r_content">
        {% include "box/subscribe_box.html" %}
        {% include "box/contact_box.html" %}
        {% include "box/berita_terkait_box.html" %}
        <div class="clearfix"></div>
      </div>
</section>
{% endblock content %}
