<section id="headline">
            <div class="container">

                <div id="slide_headline" class="relative">
                    <a href="detail.php" class="pull-left">
                        <span class="ratiobox ratio_10_5">
                            <span class="ratiobox_content lqd">
                                <img src="images/hl1.jpg" alt="">
                            </span>
                        </span>
                        <span class="box_text text_inside">
                            <span class="label label-warning">Survei</span> <span class="date">30 October 2016</span>
                            <h2 class="title">Kedai Kopi: Masa Awal Kampanye Pilgub Jakarta, Elektabilitas 3 Paslon Berada di bawah 30%</h2>
                        </span>
                    </a>
                    <a href="detail.php" class="pull-left">
                        <span class="ratiobox ratio_10_5">
                            <span class="ratiobox_content lqd">
                                <img src="images/hl2.jpg" alt="">
                            </span>
                        </span>
                        <span class="box_text text_inside">
                            <span class="label label-warning">Survei</span> <span class="date">30 October 2016</span>
                            <h2 class="title">Kedai Kopi: 55% Publik Jakarta Bayar Pungli Agar Urusan Dipermudah‎</h2>
                        </span>
                    </a>
                    <a href="detail.php" class="pull-left">
                        <span class="ratiobox ratio_10_5">
                            <span class="ratiobox_content lqd">
                                <img src="images/hl3.jpg" alt="">
                            </span>
                        </span>
                        <span class="box_text text_inside">
                            <span class="label label-warning">Survei</span> <span class="date">30 October 2016</span>
                            <h2 class="title">Kedai Kopi: 56% Publik Jakarta Yakin Timnas Sepakbola Rajai Asia Tenggara.</h2>
                        </span>
                    </a>
                </div>

            </div>
        </section>
