<section id="headline">
            <div class="container">

                <div id="slide_headline" class="relative">
                    {% for slide in slideshow %}
                    <a href="{{ slide.link }}" class="pull-left">
                        <span class="ratiobox ratio_10_5">
                            <span class="ratiobox_content lqd">
                                <img src="{{ slide.image.url }}" alt="{{ slide.title }}">
                            </span>
                        </span>
                        <span class="box_text text_inside">
                            <span class="label label-warning">{{ slide.title }}</span> <span class="date">{{ slide.date_modified }}</span>
                            <h2 class="title">{{ slide.summary }}</h2>
                        </span>
                    </a>
                  {% endfor %}
                </div>

            </div>
        </section>
