{% extends 'news/base.html' %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of ucolumns -->
  {% for row in rows %}
  <div class="col-md-6">
    {% for entry in row %}
    <h2>{{entry.title}}</h2>
    <p>{{entry.description | safe}}</p>
    <p><a href="{{entry.url}}" target="_blank" class="btn btn-primary">View details</a></p>
    {% endfor %}
  </div>
  {% endfor %}
  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->
{% endblock %}
