<div class="box mb30">

                        <div class="title_box">POLING</div>

                        <div class="panel panel-default">
                            <div class="pd15">
                                <p class="color_red">
                                    Apakah Anda yakin kepengurusan PSSI yang baru dapat membuat Timnas Sepakbola menjadi juara Piala AFF 2016 mendatang?
                                </p>
                                <div class="radio"> <label> <input type="radio" name="pol"> Iya </label> </div>
                                <div class="radio"> <label> <input type="radio" name="pol"> Tidak </label> </div>
                                <hr>
                                <div class="text-center">
                                    <button class="btn btn-default">SUBMIT</button> &nbsp;
                                    <button class="btn btn-default">RESET</button>
                                </div>
                            </div>
                        </div>

                    </div>
