<div class="box mb30">

                        <div class="title_box">COFFEE <span>MAKER</span></div>

                        <div class="panel panel-default">
                            <div class="pd15">

                                <div class="list vertical middle">
                                    <article class="cm">
                                        <a href="#">
                                            <span class="ratiobox box_img">
                                                <span class="ratiobox_content lqd">
                                                    <img src="images/img4.jpg" alt="">
                                                </span>
                                            </span>
                                        </a>
                                        <span class="box_text">
                                            <a href="#">
                                                <h2 class="title">Survei Adalah Keniscayaan</h2>
                                            </a>
                                        </span>
                                    </article>
                                    Kepada Yth Rekan-rekan jurnalis di tempat Sekali lagi kami ucapkan terimakasih yang sebesar-besarnya...
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
