<div class="box mb30">

                        <div class="title_box">KONTAK</div>

                        <div class="ratiobox ratio_4_3">
                            <div class="ratiobox_content">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.9089160204653!2d106.8275033158766!3d-6.275705663182679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f23cb46bcf8b%3A0x55b4aeb22bf1e4d0!2sdetikcom+-+PT+Agranet+Multicitra+Siberkom!5e0!3m2!1sen!2sid!4v1480948921623" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>

                        <br>

                        <strong>Jl. Kyai Haji Abdullah Syafii No. 12</strong> <br>
                        RT 012/009 Bukit Duri, Tebet Jakarta Selatan

                        <hr>
                        <strong>Telepon :</strong> 021-2983630
                        <br>
                        <strong>Twitter :</strong> @surveikedaikopi

                    </div>
