<div class="box mb30">

                        <div class="title_box">Subscribe</div>

                        <div class="panel panel-default">
                            <div class="pd15">
                                <p class="color_red">
                                  Did you want to subscribe daily post?
                                </p>
                                <div class="form-group">
                                <input class ="form-control" type="text" name="subscribe"> </div>
                                <!-- <div class="radio"> <label> <input type="radio" name="pol"> Tidak </label> </div> -->
                                <hr>
                                <div class="text-center">
                                    <button class="btn btn-default">Subscribe</button> &nbsp;
                                    <!-- <button class="btn btn-default">RESET</button> -->
                                </div>
                            </div>
                        </div>

                    </div>
